<p>
  <strong>Overlay field:</strong>
  <%= @overlay_field_option.overlay_field %>
</p>

<p>
  <strong>Name:</strong>
  <%= @overlay_field_option.name %>
</p>

<%= link_to 'Edit', edit_overlay_field_option_path(@overlay_field_option) %> |
<%= link_to 'Back', overlay_field_options_path %>
