<h1>Editing Control Implementation</h1>

<%= render 'form', control_implementation: @control_implementation %>

<%= link_to 'Show', @control_implementation %> |
<%= link_to 'Back', control_implementations_path %>
