<h1>Editing Security Control Family</h1>

<%= render 'form', security_control_family: @security_control_family %>

<%= link_to 'Show', @security_control_family %> |
<%= link_to 'Back', security_control_families_path %>
