<h1>New Related Control</h1>
<% @object_type = "assessment_object" 
   @object_id = @assessment_object.id 
%> 

<%= render '/related_controls/form', related_control: @related_control %>

<%= link_to 'Back', related_controls_path %>
