<p>
  <strong>Overlay:</strong>
  <%= @overlay_field.overlay %>
</p>

<p>
  <strong>Name:</strong>
  <%= @overlay_field.name %>
</p>

<%= link_to 'Edit', edit_overlay_field_path(@overlay_field) %> |
<%= link_to 'Back', overlay_fields_path %>
